@charset "utf-8";
table.main{width:100%;height:100%}
table.main th{height:60px}
table.main td{vertical-align:top}
table.main .logo{width:160px;vertical-align:middle}
table.main .head{background:url("../images/headBg.png") repeat-x scroll right top #dae4ed}
table.main .nav{width:800px;height:30px;float:left;padding-top:30px;white-space:nowrap}
table.main .nav li{width:70px;float:left;padding:0 2px}
table.main .nav li a{height:30px;line-height:30px;display:block;padding:0 6px;font-size:14px;font-weight:bold;color:#fff;text-align:center;outline:0;blr:expression(this.hideFocus = true)}
table.main .nav li a:hover,table.main li a.current{height:28px;line-height:28px;border-bottom:2px solid #000}
table.main .link{width:240px;height:29px;line-height:29px;float:right;clear:right;text-align:right;overflow:hidden;white-space:nowrap;color:#f2e8b6}
table.main .link a{padding:0 6px;color:#f2e8b6}
table.main .link a:hover{padding:0 6px;color:#ffffb2}
table.main .menu{border-right:1px solid #ddd;background-color:#f5faff;background:#fafafa url(../images/col_border1.gif) repeat-y right}
table.main .body{padding-top:1px}
table.main .menu dl{display:none}
table.main .menu .default{display:block}
table.main .menu dt{height:38px;line-height:37px;font-weight:bold;color:#333;padding-left:10px;background:url("../images/list.gif") repeat-x scroll 0 -230px transparent}
table.main .menu dd{height:30px;line-height:29px;display:block;padding-left:10px;color:#666;outline:0;blr:expression(this.hideFocus = true);background:url("../images/list.gif") repeat-x scroll 0 -309px transparent}
table.main .menu dd a{height:26px;line-height:26px;display:block;padding-left:10px;color:#666;outline:0;blr:expression(this.hideFocus = true)}
table.main .menu dd:hover{background:url("../images/list.gif") repeat-x scroll 0 -342px transparent}
table.main .menu dd:hover a{color:#fff}
table.main .menu dd.current{background:url("../images/list.gif") repeat-x scroll 0 -374px transparent}
table.main .menu dd.current a{color:#fff}
table.main iframe{width:100%;height:100%}
